/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======END OF reset Styles========*/

/*======= general =======*/
.row:after {
  width: 100%;
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-flex;
}

/*====== END general =======*/


/*====== nav =========*/

.top-menu {
  width: 100%;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

.header-menu {
  display: flex;
  color: aliceblue;
  justify-content: flex-start;
}

.header-menu a {
  color: #aaa;
  padding: 0px 15px;
  position: relative;
}

.submenu a {
  position: absolute;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  background: #131313;
  text-align: center;
  top: 50%;
  padding: 15px 0;
}

.submenu li>a:hover {
  opacity: 1;
  transition: all .5s ease;
}

.header-menu li {
  float: left;

}

.border-left-i {
  width: 50px;
  color: #aaa;
  border-left: 1px solid #aaa;
  padding-left: 40px;
  font-size: 20px;
}

.fixed {
  text-transform: uppercase;
  /*position: fixed;
  top: 50px;*/
}

/*====== END nav ======*/

/*======START main======*/
.left-banner {
  grid-area: menu;
}

.right-top-banner {
  grid-area: main;
}

.right-bottom-banner {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu main'
    'menu menu footer';
  grid-gap: 10px;
  background-color: rgb(243, 233, 233);
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 0 30px 15px;
  font-size: 30px;
  text-align: left;
}

.left-banner {
  background: linear-gradient(90deg, rgba(245, 14, 6, 0.945), rgba(5, 78, 21, 0.877)), url(../assets/img/Child.jpg);
  background-size: cover;
  /*width: 950px;*/
  height: 419px;
  position: relative;
}

.background-image-first {
  background-image: url("../assets/img/Tnw\ logo2.jpg");
  height: 160px;
  width: 507px;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  Top: 0;
  left: 0;
  mix-blend-mode: lighten;
}

.left-banner a {
  color: white;
}

.left-banner h6 {
  font-size: 15px;
  padding-block-start: 125px;
  line-height: 1.7;
  font-family: sans-serif;
}


.left-banner h2 {
  font-size: 56px;
  font-weight: 900;
  font-family: sans-serif;
}

.left-banner li {
  display: inline-block;
  font-size: 13px;
  padding-left: 1px;
  color: white;
}

.img-gradient i {
  display: inline-block;
  color: bisque;
  font-size: 19px;
  padding: 0px 10px 10px 10px;
}

/*
.img-gradient {
  background-color: red;
  opacity: 0.3;
  z-index: 1;
}
*/

.right-top-banner {
  background: linear-gradient(rgba(83, 65, 71, 0.8), rgba(30, 30, 31, 0.5)), url(../assets/img/Crime-Scene.png);
  background-size: cover;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 1.1;
  /*width: 500px;*/
  height: 200px;
}

.right-top-banner a {
  color: white;
}

.right-top-banner h5,
.right-bottom-banner h5 {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 3px;
}

.author a,
.icon {
  font-size: 12px;
  color: white;
}

.right-bottom-banner {
  background: linear-gradient(rgba(55, 9, 219, 0.8), rgba(30, 30, 31, 0.5)), url(../assets/img/zuckerberg.jpg);
  background-size: cover;
  font-family: Avalon, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  /*width: 500px;*/
  height: 200px;
}

.right-bottom-banner a {
  color: white;
}

.right-top-banner li,
.right-bottom-banner li {
  line-height: 1.7;
  margin-top: 5px;
}

.author {
  display: flex;
  align-items: baseline;
}

.right-top-banner i,
.right-bottom-banner i {
  display: inline-block;
  color: bisque;
  /* border: 1px solid black; */
  font-size: 19px;
  padding: 0px 10px 10px 10px;
}

/*=====START middle======*/

.middle {
  display: block;
  /*background: rgb(230, 223, 223);
  border: 1px solid brown;*/
}

.latest {
  margin: 30px 0 24px 80px;
  padding-top: 24px;
  background: url("../assets/img/arrow.svg") no-repeat;
  background-size: 16px 16px;
  Display: inline-block;
  background-position: right;
  padding-inline-end: 1px;
  padding-block-start: 11px;
  padding-bottom: 16px;
}

.latest h2 {
  padding-right: 2px;
  margin-left: -11px;
}

.latest a {
  color: #f42;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -0.12em;
  font-family: Avalon, sans-serif;
}

.news,
.new {
  padding: 10px 30px 12px 30px;
}

.news img {
  width: 300px;
  height: 150px;
  display: block;
  padding-right: 30px;
}

.news h2 {
  line-height: 20px;

}

.news a {
  color: black;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -18px;
}

.news a:hover {
  color: #f42;
}

.news li a {
  color: gray;
  font-size: 12px;
  line-height: 40px;
}

.news li {
  color: gray;
  font-size: 12px;
  line-height: 40px;
  letter-spacing: 1px;
}

.news ul li {
  list-style-type: none;
  display: inline;
}

/*=====END middle======*/


/*==== START latest funding ====*/
.latest-funding {
  padding: 15px
}

.header-of-banner {
  position: relative;
  display: block;
}

.header-of-banner img {
  width: 60px;
  min-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 10px;
}

.red-bg {
  background-color: #f42;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px 10px 84px;
  font-weight: 700;
}

.row-funding ul {
  display: flex;
  justify-content: space-evenly;
}

.red-font-style a {
  color: #f42;
  font-size: 20px;
}

.red-font-style a:hover {
  color: #131313;
}

.bold-style {
  color: #f42;
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
}

.header-of-banner h3 {
  padding-left: 84px;
  font-weight: bold;
  font-size: 20px;
  background: rgba(255, 68, 34, .08);
}

.header-of-banner h5 {
  text-transform: uppercase;
  color: #aaa;
  font-size: 18px;
  background: rgba(255, 68, 34, .08);
  padding: 5px 0 5px 84px;
}

.description a {
  padding: 8px;
  color: #131313;
}

.description i {
  margin-right: 30px;
}

.grey-color {
  color: #aaa;
}

/*==== END latest funding ====*/

/*=====START popular=====*/
.titles {
  padding: 0px 0px 0px 80px;
  margin: 0px 10px 0px -55px;
}

.titles-two {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px -35px;
}

.titles-three {
  padding: 0px 0px 0px 0px;
  margin: 0px 10px 0px -37px;
}

.title-style {
  color: #f42;
  font-size: 23px;
  font-weight: 900;
  margin-left: 60px;
  font-family: sans-serif;
}

.titles i,
.titles-two i,
.titles-three i {
  margin-right: 6px;
  color: #f42;
  padding-right: 4px;
  font-size: 20px;
}

.most-popular {
  display: block;
  /*border: 1px solid brown;*/
  /*padding-inline-start: 60px;*/
  /*margin-left: 60px;*/
}

.popular,
.popular-two {
  padding: 10px 80px 12px 80px;
  margin: 20px 20px 20px 20px;
}

.popular-three {
  padding: 10px 80px 12px 80px;
  margin: 20px 20px 20px 20px;
}

.popular {
  background: url("../assets/img/soundcore.jpg");
  background-size: cover;
  width: 368px;
  height: 268px;
  padding-right: 30px;
  padding-left: 14px;
  padding-block-start: 123px;
}

.popular-two {
  background: url("../assets/img/WhatsApp.jpg");
  background-size: cover;
  width: 368px;
  height: 268px;
  padding-right: 30px;
  padding-left: 14px;
  padding-block-start: 123px;
}

.popular-three {
  background: url("../assets/img/deliveroo.jpg"), url("../assets/img/deliveroo.jpg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-origin: right, left;
  width: 368px;
  height: 268px;
  padding-right: 30px;
  padding-left: 14px;
  padding-block-start: 123px;
}

.popular h5,
.popular-two h5,
.popular-three h5 {
  color: white;
  font-size: 12px;
  font-family: Shentox, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
}

.popular a,
.popular-two a,
.popular-three a {
  color: white;
}

.popular a:hover,
.popular-two a:hover,
.popular-three a:hover {
  text-decoration-line: underline;
}

.popular h3,
.popular-two h3,
.popular-three h3 {
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: .04em;
  margin-bottom: 6px;
  line-height: 1.1;
  margin-top: 6px;
}

.popular h6,
.popular-two h6,
.popular-three h6 {
  font-size: 12px;
  color: hsla(0, 0%, 100%, .6);
  line-height: 16px;
  margin-top: 5px;
  font-weight: 700;
}

.latest-popular {
  display: block;
}

.latest-popular-news {
  padding: 10px 80px 12px 80px;
  margin: -21px 19px 20px 20px;
  background-color: rgb(250, 225, 229);
  width: 368px;
  height: 100px;
  display: block;
  padding-right: 30px;
  padding-left: 14px;
  position: relative;
}

.background-image {
  background-image: url("../assets/img/lock.jpg");
  height: 96px;
  width: 96px;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.background-image-two {
  background-image: url("../assets/img/apple-mobile.jpg");
  height: 96px;
  width: 96px;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.background-image-three {
  background-image: url("../assets/img/moralbehavior.png");
  height: 96px;
  width: 96px;
  background-size: cover;
  background-position: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}


.latest-popular-news h6 {
  color: #f42;
  font-size: 13px;
}

.latest-popular-news a {
  color: #f42;
}

.latest-popular-news a:hover {
  text-decoration: underline;
}

.latest-popular-news h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 900;
  letter-spacing: .04em;
  line-height: 1.25;
  margin: 5px 93px 0 0;
  font-size: 15px;
}

.popular-news-list {
  display: block;
  padding-inline-start: 60px;
  padding: 10px 80px 12px 80px;
  margin: -21px 19px 20px 20px;
  padding-right: 63px;
  padding-left: 0px;
}

.list {
  padding-left: 20px;
}

.list li::before {
  content: "•";
  margin-right: 0.5em;
  color: red;
  font-size: 20px;
}

.list li {
  font-weight: 400;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

/*======END popular======*/

/*=====START latest deals =====*/





/*======END main======*/

/*==== START footer =====*/
footer {
  width: 100%;
}

.footer-top {
  padding-top: 10px;
  background: #131313;
}

.social,
.footer-link {
  display: flex;
  justify-content: space-between;
}

.social a {
  justify-content: center;
  color: white;
  width: 40px;
  min-height: 40px;
  background: rgba(238, 239, 239, 0.2);
  border-radius: 50%;
}

.social a:hover {
  background: transparent;
  border: 2px solid rgba(238, 239, 239, 0.4);
}

.social i {
  margin: auto;
}

.footer-link a {
  text-transform: uppercase;
  color: #aaa;
}

.footer-link a:hover {
  color: #fff;
}

.footer-bottom {
  background: #000;
}

.copyright img {
  width: 59px;
  min-height: 10px;
}

.copyright {
  padding: 40px 0 40px 0;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

/*====== media =========*/

/*====== 1024 ========*/
@media (max-width: 1024px) {
  .latest-popular-news {
    margin: -20px 10px 20px 10px;
  }

  .grid-container>div {
    font-size: 26px;
  }

  .popular,
  .popular-two,
  .popular-three {
    margin: 20px 10px 20px 10px;
  }

  .left-banner h2 {
    font-size: 46px;
  }

  .news,
  .new {
    padding: 10px 0px 12px 0px;
  }

  .bold-style,
  .red-bg {
    font-size: 23px;
  }

  .red-font-style a,
  .title-style {
    font-size: 17px;
  }

  .netfix {
    padding: 15px;
  }

  .most-popular {
    margin: 0;
  }

  .popular,
  .latest-popular-news,
  .popular-two,
  .popular-three {
    width: 318px;
  }

  .footer-link a {
    font-size: 14px;
    margin-right: 5px;
  }

  .news img {
    width: 260px;
  }
}

/*========= 768 ============*/
@media (max-width: 768px) {
  .grid-container {
    display: block;
    padding: 0;
  }

  .background-image-first {
    display: none;
  }
/*
  .right-top-banner,
  .right-bottom-banner {
    width: 100%;
  }
*/
  .left-banner,
  .right-top-banner,
  .right-bottom-banner {
    height: 100px;
    margin: 5px;
  }

  .left-banner h2 {
    font-size: 16px;
  }

  .left-banner h6 {
    padding-block-start: 5px;
  }

  .grid-container>div {
    font-size: 20px;
    padding: 2px 0 30px 15px;
  }

  .bold-style,
  .red-bg {
    font-size: 13px;
  }

  .red-font-style a {
    font-size: 12px;
  }

  .titles-two {
    margin: 0px 8px 0px -23px;
  }

  .popular,
  .latest-popular-news,
  .popular-two,
  .popular-three {
    width: 236px;
  }

  .header-of-banner h5 {
    font-size: 16px;
  }

  .popular-news-list {
    margin: 0;
    padding: 0;
  }

  .latest-popular-news h2 {
    font-size: 10px;
  }
  .latest {
    margin: 0 0 0 40px;
  }
  .popular h3 {
    font-size: 17px;
  }

  .news img {
    height: 190px;
  }

  .col-3 {
    width: 100%;
    margin: auto;
  }

  .background-image-first {
    height: 40px;
    width: 80px;
  }

  .copyright {
    margin-left: 250px;
  }
}
  /*====== 576 ============*/
  @media (max-width: 576px) {
    .grid-container>div {
      height: 80px;
      margin: 11px;
      font-size: 16px;
    }
    .right-top-banner h5, 
    .right-bottom-banner h5 {
     
      line-height: inherit;
    }
    .left-banner {
      min-height: 70px;
      font-size: 17px;
    }

    /* .col-4 {
    width: 50%;
}
  nav {
    margin-left: 20px;
  }
*/

    .header-menu a {
      padding: 0px 8px;
    }

    .most-popular article {
      display: flex;
      margin: 0;
      padding: 0;
    }

    .news img {
      width: 100%;
    }

    .social a {
      width: 30px;
      min-height: 30px;
    }

    .footer-top>.col-4,
    .footer-bottom>.col-3 {
      width: 24.33%;
    }

    .footer-link a {
      font-size: 8px;
    }

    .copyright {
      font-size: 10px;
      margin-left: 0;
    }

    .copyright img {
      width: 35px;
    }

    nav .row>.col-11 {
      width: 85.66%;
    }

    .header-menu {
      font-size: 10px;
    }

    .border-left-i {
      font-size: 10px;
      width: 30px;
    }

    .bold-style,
    .red-bg {
      font-size: 10px;
    }

    .red-font-style a,
    .most-popular,
    .titles {
      display: none;
    }

  .titles,
  .most-popular {
    display: none;
  }

  .row-funding ul {
    display: block;
  }

}

/*============ 320 ============*/
@media (max-width: 320px) {
  nav {
    margin: 0;
  }

  .grid-container {
    flex-direction: column;
  }

  .border-left-i {
    display: none;
  }

  .background-image-first {
    height: 62px;
    width: 146px;
  }
  .left-banner h2 {
    font-size: 14px;
}
  .grid-container>div {
    font-size: 13px;
  }

  .header-of-banner img {
    width: 50px;
    min-height: 50px;
  }

  .red-bg {
    padding: 10px 20px 10px 63px;
  }

  .description i {
    margin-right: 3px;
  }

  .header-of-banner h3,
  .header-of-banner h5 {
    padding-left: 65px;
    font-size: 11px;
  }

  .description a {
    font-size: 11px;
  }

  .footer-top>.col-4,
  .footer-bottom>.col-3 {
    width: 15.33%;
  }
}